body {
  margin: 0px;
  font-family: sans-serif;
  height: 100%;
  background-color: rgb(249, 246, 246);
}
#nav-item {
  background-color: red;
  display: flex;
  padding: 0.8em;
  justify-content: space-between;
  align-items: center;
}
#food-logo {
  color: antiquewhite;
  display: flex;
  align-items: center;
  width: 60%;
  gap: 0.5em;
}
#hamburger-icon {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 1em;
}
span {
  display: flex;
  width: 1.3em;
  height: 0.2em;
  background-color: white;
}
.logo {
  position: relative;
  top: -5px;
}

.hamburgerMenu {
  position: fixed;
  z-index: 999;
  top: -0.1px;
  right: 0;
  width: 90%;
  height: 100vh;
  background-color: red;
  transform: translateX(100%);
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
}
ul {
  margin-top: 10em;
  list-style: none;
  color: antiquewhite;
}
li {
  position: relative;
  left: -25px;
  margin-bottom: 1.5em;
}
.hamburgerMenu.visible {
  transform: translateX(0px);
}

#hamburger-icon.open > span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
#hamburger-icon.open > span:nth-child(2) {
  display: none;
}
#hamburger-icon.open > span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
#text-slide-container {
  width: 99%;
  overflow: hidden;
}
.text-slide {
  padding: 1em 0em;
  white-space: nowrap;
  animation: sideslide 15s infinite;
}

@keyframes sideslide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-190%);
  }
}

img {
  height: 15em;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
section {
  width: 90%;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
}
#carouselExampleCaptions {
  height: 10em;
}
#restaurant-image {
  background-image: url("Restauranthuman.jpeg");
  height: 20em;
}
footer {
  color: antiquewhite;
  background-color: red;
  height: 100%;
  width: 100%;
  margin-top: 6em;
}

.jellof,
.yam,
.wine,
.egusi {
  width: 80%;
  height: 21em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
}

.food-container {
  margin-top: 3em;
}
.food-heading {
  width: 99%;
  margin-top: 1em;
  display: flex;
  padding: 1em 0em;
  justify-content: center;
  margin-bottom: 1em;
  font-weight: 800;
}
.fooName {
  margin-bottom: 0px;
  margin-top: 1em;
  font-size: 1rem;
}
.price {
  margin-top: 0px;
  font-size: 1rem;
}
.tex-content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3 {
  margin-left: 6em;
}
.head-office {
  padding-top: 2em;
}
.head-office > h3 {
  margin-bottom: 0px;
}
.head-office > p {
  margin-top: 0px;
  margin-left: 5em;
}
.branches > p {
  margin-left: 5em;
}
.branches {
  margin-top: 2em;
}
.copyright {
  padding-top: 3em;
  padding-bottom: 1em;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
