body {
  margin: 0px;
  font-family: sans-serif;
  height: 100%;
}
#nav-item {
  background-color: red;
  display: flex;
  padding: 0.8em;
  justify-content: space-between;
  align-items: center;
}
#food-logo {
  color: antiquewhite;
  display: flex;
  align-items: center;
  width: 60%;
  gap: 0.5em;
}
#hamburger-icon {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 1em;
}
span {
  display: flex;
  width: 1.3em;
  height: 0.2em;
  background-color: white;
}
.logo {
  position: relative;
  top: -5px;
}

.hamburgerMenu {
  position: fixed;
  z-index: 999;
  top: -0.1px;
  right: 0;
  width: 90%;
  height: 100vh;
  background-color: red;
  transform: translateX(100%);
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
}
ul {
  margin-top: 10em;
  list-style: none;
  color: antiquewhite;
}
li {
  position: relative;
  left: -25px;
  margin-bottom: 1.5em;
}
.hamburgerMenu.visible {
  transform: translateX(0px);
}

#hamburger-icon.open > span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
#hamburger-icon.open > span:nth-child(2) {
  display: none;
}
#hamburger-icon.open > span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
#text-slide-container {
  width: 99%;
  overflow: hidden;
}
.text-slide {
  padding: 1em 0em;
  white-space: nowrap;
  animation: sideslide 15s infinite;
}

@keyframes sideslide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-179%);
  }
}

img {
  height: 10em;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}
section {
  width: 80%;
  height: 5%;
  margin-left: 30px;
}
#carouselExampleCaptions {
  height: 10em;
}
